
.button-div {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 120px;
  margin-left: 450px;
  margin-right: 450px;
}

.button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  font-family: $text-font-e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: $back-color;
  background-color: $text-blue;
  cursor: pointer;
}

.button:first-child {
  width: 65px;
  color: $back-color;
  background-color: $text-blue;
}

.menu {
  display: flex;
  flex-direction: column;
}

.container-post, &--contb, &--contbf {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 225px;
  margin-right: 225px;
}

.container-post {
  margin-top: 200px;
}

&--contb, &--contbf {
  margin-top: 25px;
}

&--contbf {
  margin-bottom: 50px;
  z-index: 100;
  background-color: $back-color;
}

.post-menu, .post-menu1, .post-menu2 {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $card-team;
  width: 285px;
  height: 315px;
  z-index: 2300;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.post-menu:hover, .post-menu1:hover, .post-menu2:hover {
  cursor: pointer;
  box-shadow: 0 0 5px $black;
}

.post-img {
  position: relative;
  display: flex;
  width: 285px;
  height: 220px;
  z-index: -1;
}

.info-card {
  background-color: #fff;
  z-index: 10;
  height: 125px;
}

.p-post, .p-menu {
  font-family: $text-font-e;
}

.p-post {
  font-weight: 700;
  margin-left: 15px;
  margin-top: 20px;
}

.p-menu {
  color: $text-gray;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 12px;
}

.post-menu-active:hover {
  cursor: pointer;
  box-shadow: 0 0 5px $black;
}

.post-menu:hover .aerodrom, .post-menu:nth-child(2):hover .aerodrom1, .post-menu:last-child:hover .aerodrom2,
.post-menu1:hover .aerodrom3, .post-menu1:nth-child(2):hover .aerodrom4, .post-menu1:last-child:hover .aerodrom5,
.post-menu2:hover .aerodrom6, .post-menu2:nth-child(2):hover .aerodrom7, .post-menu2:last-child:hover .aerodrom8 {
  bottom: 30%;
  opacity: 1;
}

.overlay-text {
  padding: 36px 24px;
  font-family: $text-font-e;
  color: $back-color;
}

.aerodrom, .aerodrom1, .aerodrom2, .aerodrom3, .aerodrom4, .aerodrom5, .aerodrom6, .aerodrom7, .aerodrom8 {
  background-color: $text-blue-b;
  position: absolute;
  width: 285px;
  height: 225px;
  bottom: -100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, bottom 0.5s ease;
}