$back-color: rgb(255, 255, 255);
$border-color: #ececec;
$text-blue: #2196f3;
$text-blue-b:  #2195f3bd;
$text-black: black;
$text-gray: #757575;
$footer-back: #2F303A;
$button: #444444;
$card-team: #eeeeee;
$black: rgba(0, 0, 0, 0.3);

$text-font: "Raleway", sans-serif;
$text-font-e: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

